/*
Boja dugmeta - zuta ffcc00
Tamno lava boja teksta 154182 
Sivkasto zelena boja pozadine b3c39b

*/
/*Pocetak globalnih promenljivih*/
.top_menu2{
    width:100%;
    background:red;
}
*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    font-size:12px;
    max-width:1200px;
    width:100%;
    color:#154182;
    background:#fff;
    margin:0 auto;
}
.container{
    width:100%;
    margin:0 auto;
}
.clearfix{
    zoom:1;
}
.clearfix::after{
    content:'.';
    visibility: hidden;
    clear:both;
    display:block;
    height:0px;
}
.button{
    width:120px;
    height: 40px;
    background-color: #ffcc00;
    text-align: center;
    border:none;
    color:#154182;
}
/*Kraj globalnih promenljivih*/

/*Pocetak home page-a*/
.top_menu{
    background-color:#fff;
    width:100%;
    padding:10px;
}
.menu_logo{
   
}
.top_menu .menu_logo img{
    float:left;
    padding-top:20px;
}
.top_menu .menu_logo p{
    float:left;
    font-size: 24px;
    font-weight: 700;
    padding-top:40px;
}
.top_menu .menu_content ul{
    float:right;
}

.top_menu .menu_content ul li{
    display:inline-block;
    text-decoration: none;
    margin:30px 10px 30px 10px;
    padding:10px 10px 10px 10px;
    width:100px;
    text-align: center;
}
.top_menu .menu_content ul li a{
    color:#154182;
    text-decoration: none;
}
.top_menu .menu_content ul .yellow_btn{
    background-color:#ffcc00;
}

.top_menu .menu_content ul li:hover{
    background-color:#ffcc00;
    cursor:pointer;
}
.you_first{
    background-image:url(../images/topImage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width:100%;
    height:450px;
    color:#fff;
}
.you_first .you_first_content h3{
    color:#ffcc00;
    font-size:3.3em;
    font-weight: 400;
}

.you_first_content{
    padding:60px 0px 0px 50px;
}
.you_first_content h3{
    margin-bottom: 40px;
}
.you_first_content p{
    width:30%;
    font-size: 1.3em;
}

.you_first_content .button{
    margin-top:40px;
}
.who_are_we {
    width:100%;
    height:300px;
    margin:30px 1px 30px 1px;
}
.who_are_we img{
    width:30%;
    height: auto;
    float:left;
}
.who_are_we .who_text{
    float:left;
    width:60%;
    padding:40px 0px 0px 0px;
    margin-left: 40px;
}

.who_text h3{
    font-size: 1.8em;
    padding-bottom:30px;
    position:relative;
}
.who_text p{
    font-size: 1.3em;
    padding-bottom:30px;
    position:relative;
}

.why_us{
    background-color:#D3E5C4;
    width:100%;
    height:auto;
}
.why_us h3{
    text-align: center;
    padding-top:30px;
    padding-bottom: 30px;
    font-size: 1.7em;
}
.why_us_first, .why_us_second {
    margin:0 auto;
    width:60%;
}
.you_first_whyUs, .integrity, .value, .recognition{
    float:left;
    width:48.5%;
    text-align: center;
}
.you_first_whyUs img{
    width:71px;
    height:71px;
}
.you_first_whyUs > *, .integrity > *, .value > *, .recognition > *{
    margin:20px 0px 20px 0px;
}

.you_first_whyUs h4, .integrity h4, .value h4, .recognition h4{
    font-size: 2.5em;
    font-weight: 700;
    margin-top:0px;
}
.you_first_whyUs p, .integrity p, .value p, .recognition p{
    width:70%;
    text-align: center;
    margin:0 auto;
    margin-bottom:30px;
    font-size: 1.1em;
}
.div_btn{
    width:100%;
    margin:0 auto;
}
.div_btn .button{
    margin-left:42%;
    margin-bottom:30px;
}
.home_last{
    width:100%;   
}

.bottom_text{
    float:left;
    width:auto;
}
.bottom_text h3{
    font-size: 1.5em;
    font-weight: 400;
}

.bottom_text h2{
    font-size: 2.5em;
    font-weight: 400;
    letter-spacing:4px;
    color:#ffcc00;
}

.home_last .bottom_button{
    position:absolute;
    right:200px;
}

.home_last{
    padding:30px 0px 30px 20px;
}

.footer{
    position:relative;
    bottom:0px;
    width:100%;
    background-image:url(../images/footer-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:right;
}
.footer_rights{
    padding:30px 0px 0px 30px;
    float:left;
    margin-right:10%;
}
.footer_rights p{
    color:white;
    padding-top:30px;
    padding-bottom: 30px;
}

.footer_social{
    padding:30px 0px 0px 30px;
    float:left;
    margin-right:10%;
}
.fab {
    color:#fff;
    font-size: 2em;
    padding-right: 20px;
    float:left;
}


.footer_social p{
    color:#fff;
    font-size: 1em;
    margin-top:45px;
    padding-bottom: 30px;
}

.footer_number{
    color:#fff;
    padding:30px 0px 0px 30px;
    float:left;

}
.footer_number span{
    font-size: 2em;
}



/*--------------------*/
/*-------Contact us---*/
/*--------------------*/
.contactUs_content{
    background-color:#154182;
}

#yelow{
    border-bottom:5px solid #ffcc00;
}
.contactUs_content{
    margin-bottom: 30px;
}
.contactUs_content_left{
    padding-left:30px;
    padding-top: 50px;
    width:40%;
    float:left;
}
.contactUs_content_left:first-child h2{
    color:#ffcc00;
    font-size: 3em;
    font-weight: 400;
    letter-spacing:4px;
    padding-bottom: 30px;
}
.contactUs_content_left:first-child p{
    color:#fff;
    font-size: 1.2em;
    padding-bottom: 20px;
    width:80%;
    
}
.contactUs_content_left:first-child .mand{
    color:#ffcc00;
    font-size: 1em;
    padding-bottom: 20px;
}
.contactUs_phone img{
    width:40px;
    height: auto; 
    padding-bottom: 10px;
    padding-top: 30px;
}
.contactUs_email img{
    padding-bottom: 10px;
    padding-top: 30px;
}
.contactUs_email img{
    width:40px;
    height: auto;
    padding-bottom: 10px;
    padding-top: 30px;
}
.contactUs_phone p, .contactUs_email p, .contactUs_email p{
    width:60%;
}
.contactUs_content_right{
    padding-top:100px;
}
.contactUs_content_right form  .form_left{
    float:left;
    width:27%;
    height: 50px;
    margin:30px 0px 30px 5px;
    font-size: 1.5em;
    padding-left:20px;
}
.contactUs_content_right form  .form_right{
    float:right;
    width:27%;
    height: 50px;
    margin:30px 30px 30px 0px;
    font-size: 1.5em;
    padding-left:20px;
}
.contactUs_content_right form  textarea{
    width:57%;
    height: 100px;
    margin:30px 30px 30px 0px;
    font-size: 1.5em;
    padding-left:20px;
    float:right;
}
.btnForm{
    margin-left:480px !important;
    margin-bottom: 30px;
}

@media(max-width:480px){
    .top_menu{
        clear:both;
        width:100%;
    }
    
    .menu_logo img, .menu_logo p{
        clear: both;
        display:block;
        margin: 0 auto;
        float:none !important;
        text-align: center;
    }
    .menu_logo p{
        padding-top:10px !important;
    }
    .top_menu .menu_content ul{
        clear:both;
        float:none !important;
        margin:0 auto;
        text-align: center;
    }
    .top_menu .menu_content ul li{
        margin:10px 10px 10px 10px;
        text-align: center;
    }
    .you_first .you_first_content h3{
        color:#ffcc00;
        font-size:3.3em;
        font-weight: 400;
    }

    .you_first_content{
        padding:30px 0px 0px 30px;
    }
    .you_first_content h3{
        margin-bottom: 40px;
        width:100%;
        text-align: center;
    }
    .you_first_content p{
        width:100%;
        font-size: 1.3em;
        text-align: center;
    }

    .you_first_content .button{
        margin-top:40px;
        margin-left:30%;
        width:150px;
    }
    .you_first{
        height:400px;
    }  
    .who_are_we {
        width:100%;
        height:300px;
        margin:30px 1px 30px 1px;
    }
    .who_are_we img{
        width:80%;
        height: auto;
        float:none !important;
        z-index: 0px;
        opacity:0.3;
        position:absolute;
        left:50px;
        margin-bottom: 20px;
    }    
    .who_are_we .who_text{
        float:none !important;
        width:90%;
        padding:40px 0px 0px 0px;
        margin-left: 40px;
        position:relative;
        top:0;
        z-index: 2;
    }
    .who_text h3, .who_text p{
        text-align: center;
    }
    .who_text a{
        margin-left: 33%;
    }
    
.why_us_first, .why_us_second {
    margin:0 auto;
    width:100%;
}
.you_first_whyUs, .integrity, .value, .recognition{
    float:none !important;
    width:100%;
    text-align: center;
}

.div_btn .button{
    margin-left:35%;
    margin-bottom:30px;
}
    
.bottom_text{
    float:none !important;
    width:auto;
}
.bottom_text h3{
    font-size: 1.5em;
    font-weight: 400;
    width:100%;
    text-align: center;
}

.bottom_text h2{
    font-size: 2.5em;
    font-weight: 400;
    letter-spacing:4px;
    color:#ffcc00;
    width:100%;
    text-align: center;
}

.home_last{
    padding:40px 0px 60px 0px;
}
    .bottom_button .button{
        margin-left:5%;
    }
    
    .footer > *{
        clear:both;
        display:block;
        width:100%;
        margin:0 auto;
        text-align: center;
        margin:0px;
    }
    .footer_rights, .footer_number{
        padding:0px;
        padding-top:30px;
    }
    .footer_social{
    padding:0px 0px 0px 0px;
    float:none !important;
    margin-right:10%;
}
    .fab {
    color:#fff;
    font-size: 2em;
    padding-right: 0px;
    float:none !important;
}

    
/* Contant    */
    .btnForm{
    margin-left:80px !important;
    margin-bottom: 30px;
    }
    .contactUs_content_left > *{
        clear:both;
        display:block;
        width:100%;
        margin:0 auto;
        text-align: center;
        margin:0px;
    }
    .contactUs_content_left{
    padding-left:0px;
    padding-top: 50px;
    width:100%;
    float:none !important;
}
.contactUs_content_left:first-child h2{
    color:#ffcc00;
    font-size: 3em;
    font-weight: 400;
    letter-spacing:4px;
    padding-bottom: 30px;
    text-align: center;
}
.contactUs_content_left:first-child p{
    color:#fff;
    font-size: 1.5em;
    padding-bottom: 20px;
    width:100% !important;
    text-align: center;
    
}
.contactUs_content_left:first-child .mand{
    color:#ffcc00;
    font-size: 1em;
    padding-bottom: 20px;
}
.contactUs_phone img{
    width:40px;
    height: auto; 
    padding-bottom: 10px;
    padding-top: 30px;
    text-align: center;
    margin:0 auto;
}
.contactUs_email img{
    padding-bottom: 10px;
    padding-top: 30px;
}
.contactUs_email img{
    width:40px;
    height: auto;
    padding-bottom: 10px;
    padding-top: 30px;
}
.contactUs_phone p, .contactUs_email p, .contactUs_email p{
    width:60%;
}
.contactUs_content_right{
    padding-top:100px;
}
    

.contactUs_content_right form  .form_left{
    float:none !important;
    width:80%;
    height: 50px;
    margin:auto;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10px;
    font-size: 1.5em;
    text-align: center;
    
}
.contactUs_content_right form  .form_right{
    float:none !important;
    width:80%;
    height: 50px;
    margin:auto;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10px;
    font-size: 1.5em;
    text-align: center;
}
.contactUs_content_right form  textarea{
    width:80%;
    height: 100px;
    margin:30px 30px 30px 10px;
    font-size: 1.5em;
    margin:auto;
    margin-left: 10%;
    margin-right: 10%;
    
}
.btnForm{
    margin:auto !important;
    margin-left:10% !important;
    margin-right: 10% !important;
    width:80%;
    margin-bottom: 30px !important;
    margin-top: 20px !important;
}
    .footer_rights p {
        padding-top:20px !important;
    }
    .footer_number{
        padding-bottom: 20px;
    }
    
    .footer_social{
        padding-top:10px;
    }
}

/*Kraj home page-a*/

